/a1/b1/nbproject/private/
/a1/b1/build/
/a1/b2/nbproject/private/
/a1/b2/build/
/Lab2/nbproject/private/
/Lab2/build/
/a2/b1/nbproject/private/
/a2/b2/nbproject/private/
/a2/b1/build/
/a2/b2/build/
/Lab3/lab3/nbproject/private/
/Lab3/lab3/build/
/a3/a3/nbproject/private/
/a3/a3/build/
/lab4/lab4/nbproject/private/
/lab4/lab4/build/
/a4/a4/nbproject/private/
/a4/b1/nbproject/private/
/a4/b2/nbproject/private/
/a4/b2/build/
/a4/b1/build/
/example/nbproject/private/
/example/build/
/lab5/nbproject/private/
/lab5/build/