/a1/b1/nbproject/private/
/a1/b1/build/
/a1/b2/nbproject/private/
/a1/b2/build/
/Lab2/nbproject/private/
/Lab2/build/
/a2/b1/nbproject/private/
/a2/b2/nbproject/private/
/a2/b1/build/
/a2/b2/build/
/Lab3/lab3/nbproject/private/
/Lab3/lab3/build/